{% extends 'base.html' %}

{% block cssTables %}
    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock cssTables %}

{% block content %}
<div class="row">    
    <div class="col-lg-12">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>            
        <div class="panel panel-default">            
            <div class="panel-heading">
                Data Laporan
            </div>
            {% if 'username' in session %}
            <a href="{{ url_for('rekap.input') }}" class="btn btn-xl btn-primary" style="margin: 10px 10px 0 10px;"><i class="fa fa-plus"></i> Input data baru</a>  
            {% endif %}
            
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataRekap">
                    <thead>
                        <tr>
                            <th>Nomor</th>
                            <th>sarpelkes</th>
                            <th>WO</th>
                            <th>Tahun</th>
                            <th>Agung</th>
                            <th>Andi</th>
                            <th>Azizil</th>
                            <th>Ilham</th>
                            <th>Sandra</th>
                            <th>Total</th>
                            <th>Ket.</th>                           
                            <th>Tgl.Kirim</th>                            
                            {% if 'username' in session %}                            
                            <th>Proses</th>   
                            {% endif %}                            
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i.sarpelkes }}</td>
                            <td>{{ i.nomorwo }}</td>
                            <td>{{ i.tahun }}</td>
                            <td>{{ i.agung }}</td>
                            <td>{{ i.andi }}</td>
                            <td>{{ i.azizil }}</td>
                            <td>{{ i.ilham }}</td>
                            <td>{{ i.sandra }}</td>
                            <td>{{ i.total }}</td>

                            {% if i.keterangan=="belum" %}
                                <td><button class="btn btn-xs btn-danger btn-circle" title="Belum lengkap"></button></td>
                            {% else %}
                                <td><button class="btn btn-xs btn-success btn-circle" title="Sudah lengkap"></button></td>
                            {% endif %}

                            {% if i.tgl_kirim==None %}
                                <td style="color:brown;">None</td>
                            {% else %}
                                <td style="color:green;">{{ i.tgl_kirim.strftime("%d/%m/%Y") }}</td>
                            {% endif %}

                            {% if 'username' in session %}                            
                            <td>
                                <a class="btn btn-xs btn-info btn-circle" title="Edit data rekap" href="{{ url_for('rekap.edit',id=i.nomor) }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-xs btn-success btn-circle" title="Catat hasil cetak" href="{{ url_for('catatan.cetak',id=i.nomor) }}"><i class="fa fa-file-archive-o"></i></a>
                                <a class="btn btn-xs btn-warning btn-circle" title="Tambah tgl. kirim" href="{{ url_for('rekap.tanggal',id=i.nomor) }}"><i class="fa fa-send"></i></a>                               
                                
                                <!-- <button class="btn btn-default btn-xs btn-circle" title="Hapus Data" data-toggle="modal" data-target="#hapus{{ i.nomor }}"><i class="fa fa-trash"></i></button> -->
                            </td>   
                            {% endif %}
                            
                        </tr>

                        <div id="hapus{{ i.nomor }}" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Hapus {{ i.sarpelkes }}?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ url_for('rekap.hapus',id=i.nomor) }}" method="POST">
                                            <button type="submit" class="btn btn-primary">Hapus</button>
                                        </form>                                      
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        Keterangan Laporan :<br>
        <button class="btn btn-circle btn-success btn-xs"></button> Sudah lengkap
        <button class="btn btn-circle btn-danger btn-xs"></button> Belum lengkap
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock content %}

{% block jsTables %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
{% endblock jsTables %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#dataRekap').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock script %}
